.DS_Store
.cache
node_modules

# output files and folders
*.report.html
*.report.json
**/reports/**/*.*
!docs/*.report.json
!docs/**/reports/**/*.*
flags-*
lhr-*
reports/*
.lighthouseci/*
**/.lighthouseci/links.json


# input files to keep locally
example-urls-list*
!example-urls-list

private-*.json
private-*/
private-*