*.report.html
*.report.json
flags-*
lhr-*
.cache
node_modules
reports/*
!reports/.gitkeep

example-urls-list*

lighthouse-plugin-example

# lhci
.lighthouseci/*
!.lighthouseci/.gitkeep
tests/deprecated/lhci/.lighthouseci/*
!tests/deprecated/lhci/.lighthouseci/.gitkeep
tests/deprecated/lighthouse-ci/.lighthouseci/*
!tests/deprecated/lighthouse-ci/.lighthouseci/.gitkeep

tests/.lighthouserc.js