.cache
node_modules

# output files and folders
*.report.html
*.report.json
**/reports/**/*.*
flags-*
lhr-*
reports/*
!reports/.gitkeep
.lighthouseci/*
**/.lighthouseci/links.json
!**/.lighthouseci/.gitkeep


# input files to keep locally
example-urls-list*
!example-urls-list