# Identifiants pour l'exemple de script personnalisé puppeteer. Veuillez remplir les valeurs et renommer ce fichier en .env avant d'exécuter l'exemple.

DEBUG= # Défini à true pour activer les logs de debug du script puppeteer

HOME_TITLE= # Titre de la page d'accueil après connexion, utilisé pour vérifier que la connexion a réussi
AUTH_MODE= # Type d'authentification utilisée (ex: "wordpress", "okta", etc.)
ONE_STEP_LOGIN=false # Indique si la connexion se fait en une seule étape (true) ou en deux étapes (false)
LOGIN_FIELD= # Sélecteur CSS ou ID du champ de saisie
LOGIN_VALUE= # Valeur à saisir dans le champ de connexion
PASS_FIELD= # Sélecteur CSS ou ID du champ de mot de passe
PASS_VALUE= # Valeur à saisir dans le champ de mot de passe
AUTH_URL= # URL de la page de connexion